*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

/* Страница */
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Контейнер с основным содержимым */
.content {
  display: flex;
  align-items: end;
  gap: 30px; /* расстояние между контейнером результата и блоком со списком городов */
}

/* Заголовок_Посмотри в окно */
.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 70.5px;
}

/* Первые две буквы заголовка*/
.content__accent {
  color: #545050;
}

/* Контейнер с подробностями сбоку */
.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 21px; /* расстояние между заголовком и карточкой */
}

/* Список городов с миниатюрами */
.content__list {
  padding-bottom: 6px; /* чтобы кнопка поместилась и появилась вторая линия */
  height: 298px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}

.content__list-item:not(:last-child) {
  margin: 0 0 30px;
}

/* Карточка-ссылка */
.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

/* Подчеркивание заголовка и текста в карточке при наведении курсора */
.content__card-link:hover {
  text-decoration: underline;
}

/* Карточка-ссылка активна */
.content__card-link:active {
  background: #545050;
  text-decoration: none;
}

/* Сбрасываем состояние */
.content__card-link:focus {
  outline: none;
}

/* В фокусе */
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

/* Карточка-ссылка_текущая */
.content__card-link_current {
  background: #545050;
}

/* Карточка c видео миниатюрой*/
.content__video-card {
  display: flex;
}

/* заголовок карточки с видео_миниатюрой */
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* описание карточки с видео_миниатюрой */
.content__video-card-description-container {
  padding: 4px 0; /*отступы для текста и заголовка в карточке*/
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
  gap: 4px; /*расстояние между заголовком и текстом*/
}

/*текст к видео_миниатюре*/
.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

/*видео_миниатюра*/
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Скрываем элементы */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Общие стили для кнопок */
.button {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid currentColor;
  background: none;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fff;
}

/* Кнопка_Найти */
.search-form__submit-button {
  padding-bottom: 4px;
  width: 194px;
  align-self: flex-end;
}

/* Кнопка_Показать еще */
.more-button {
  width: 399px;
}

/* Наведение курсора */
.button:hover {
  text-decoration: underline;
}

/* Активная кнопка */
.button:active {
  background: #545050;
  text-decoration: none;
}

/* Сбрасываем обводку */
.button:focus {
  outline: none;
}

/* Кнопка в фокусе */
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* Шаблон для разметки */
.cards-list-item-template {
  display: flex;
  flex-direction: column;
}

/* Контейнер для видео и формы поиска */
.result {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
}

/* Видео подстраивается под заданные размеры */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Контейнер с видео */
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

/* Контейнер поиска */
.search-form {
  display: flex;
  gap: 40px;
}

/* Форма поиска_набор полей */
.search-form__fieldset {
  width: fit-content;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Заголовки в форме поиска */
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

/* Текст в форме поиска */
.search-form__textfield {
  width: 224px;
  background: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
}

.search-form__textfield:hover {
  text-decoration: underline;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  border: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

/* Форма поиска_время суток */
.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* При наведении курсора */
.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
}

/* Подчеркивание при клике */
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* обертка, чтобы выстроить чекбоксы в линию */
.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

/* квадрат при нажатии чекбокса */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Состояние флажка утро_день_ночь */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  background-color: #fff;
}
